.back{
    width: 1226px;
    height:460px;
    background: url(../img/back.jpg)  no-repeat;
    background-size: cover;
    margin:50px auto;
}
.back .list{
    height: 46px;
    width: 234px;
    color: rgb(255, 255, 255);
    line-height: 46px;
    background-color: rgba(17, 15, 15,.3);
    position: relative;
    top: -10px;
    padding-left: 30px ;
}

.back .list img{
    position: absolute;
    right: 10px;
    top: 5px;
}
.ulk{
    margin-top: -10px;
    width: 230px;
    height: 460px;
    display: inline-block;

}
.picture{
    width: 989px ;
    height: 450px;
    display: inline-block;
    
}
.picture img{
    box-shadow: 5px 5px 5px 5px #eeee;
    position:absolute;
    display: none;
}
.list :hover {
    background-color: #e9510a;
}
.list :hover {
    display: block;
}